body {
    background-color: rgb(242, 242, 242);
    font-family: 'Nunito', sans-serif;
}

.images {
    display: flex;
    justify-content: center; 
    margin-top: 7%;
    height: 100vh; 
}


.image-container {
    position: relative;
    margin: 20px;
    border-radius: 20px;
    transition: transform 0.3s ease;
    width: 440px;
    height: 440px;
    overflow: hidden;
    animation: fadeIn 0.6s ease-in;
}

.image-container:hover {
    transform: scale(110%);
}

@keyframes fadeIn {
  0% { filter:blur(10px); }
  50% { filter:blur(5px); }
  100% { filter:blur(0px); }
}

.image {
    border-radius: 4%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: gray;
}

.image-text {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 3px;
}

@font-face {
    font-family: 'Nunito';
    src: url('./nunito.ttf') format('truetype');
}

.title-container {
    position: relative;
    height: 20vh;
    margin-top: -0.5%;
  }
  
  .title-background {
    position: relative;
    background-image: url("https://static.planetminecraft.com/files/image/minecraft/data-pack/2023/826/16969307-pack_l.webp");
    background-size: cover;
    background-position: center;
    width: 105%;
    height: 105%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    transform: translate(-0.5%, 0.5%);
  }
  
  .title-background::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(to top, rgba(242, 242, 242, 1), rgba(255, 255, 255, 0));
  }
  
  .title {
    color: rgb(0, 0, 0);
    font-size: 50px;
    margin-bottom: 10px;
  }
  
  #titledescription {
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-top: 0;
  }
  
  #back-button {
    margin: 10px;
    color: rgb(0, 0, 0);
    font-size: 40px;
    position: absolute;
    left: 10px;
    top: 10px;
    text-decoration: none;
    font-weight: normal;
    transition: left 0.3s ease;
  }
  
  #back-button:hover {
    left: 50px;
  }
  
  #back-arrow {
    margin: 10px;
    color: rgb(0, 0, 0);
    font-size: 40px;
    position: absolute;
    left: 45px;
    top: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
  }
  
  #back-button:hover + #back-arrow {
    transform: translateX(-30px);
    opacity: 1;
  }
  
  h5 {
    position: relative;
  }
  
  h5::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.3s ease;
  }
  
  h5:hover::after {
    width: 100%;
  }
    